.section {
  margin-top: 3%;
}
.main-inputs-container {
  width: 40%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

h3 {
  color: rgb(23, 124, 240);
  margin-bottom: 1.1%;
}

input {
  outline: none;
}
